// CALCULATE
.calculate
  .container
    h1.text-center.color-white Расчет стоимости монтажа
    .wrapper

      .calculate__form
        .banner__form__el
          input(type="checkbox" , value="Нужно утепление" , id="checkbox-1")
          span
          label(for="checkbox-1") Нужно утепление
        .banner__form__el.form__el-size
          input(type="checkbox" , value="Согласен на обработку данных" , id="checkbox-2" , checked)
          span
          label(for="checkbox-2") Я согласен на <a href="#">обработку моих персональных данных</a>
        .banner__form__el
          input(type="submit" , value="ОТПРАВИТЬ ЗАЯВКУ")