// CREDIT
#credit.credit
  .container
    h1.text-center.wow Фасад в кредит до 1 000 000 рублей!
    p.credit__subtitle.text-center.wow(data-animation-delay=".1s") Мы убеждены, что ремонт должен быть доступным!

    .wrapper.justify-between.self-start

      .why__item.text-center.wow(data-animation-delay=".1s")
        .why__item-icon
          +icon('ico-credit-1')
        p Сумма кредита <br> до 1 млн.руб.

      .why__item.text-center.wow(data-animation-delay=".2s")
        .why__item-icon
          +icon('ico-credit-2')
        p Рассмотрение <br> заявки за 15 минут

      .why__item.text-center.wow(data-animation-delay=".3s")
        .why__item-icon
          +icon('ico-credit-3')
        p Возможность <br> оформления <br> кредита онлайн

      .why__item.text-center.wow(data-animation-delay=".4s")
        .why__item-icon
          +icon('ico-credit-4')
        p Для оформления <br> нужен только <br> паспорт

      .why__item.text-center.wow(data-animation-delay=".5s")
        .why__item-icon
          +icon('ico-credit-5')
        p Возможно <br> без первоначального <br> взноса

      .why__item.text-center.wow(data-animation-delay=".6s")
        .why__item-icon
          +icon('ico-credit-6')
        p Высокая степень <br> одобрения

// WORK WITH BANK
.bank
  .container
    h3.bank__title.text-center.wow Мы сотрудничаем с банками

    .wrapper.justify-between.self-start

      .bank__item.wow(data-animation-delay=".1s")
        i.icon.icon-bank-1

      .bank__item.wow(data-animation-delay=".2s")
        i.icon.icon-bank-2

      .bank__item.wow(data-animation-delay=".3s")
        i.icon.icon-bank-3

      .bank__item.wow(data-animation-delay=".4s")
        i.icon.icon-bank-4

      .bank__item.wow(data-animation-delay=".5s")
        i.icon.icon-bank-5

      .bank__item.wow(data-animation-delay=".6s")
        i.icon.icon-bank-6

    .text-center.wow
      a(href="#").btn-primary ОСТАВИТЬ ЗАЯВКУ НА МОНТАЖ В КРЕДИТ
