// FOOTER :: START
footer.footer.wow
  .container
    .wrapper.justify-between.align-center

      a(href="#").header__logo
        i.icon.icon-logo

      p Рассрочка предоставляется в виде скидки на товары компании-поставщика

      .header__contact
        span Ежедневно с 9:00 до 21:00
        .contact-phone +7 (499) 490-89-86
        a(href="#callback").contact-callback Заказать обратный звонок


// FOOTER :: END
