// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="#").header__logo
        i.icon.icon-logo
      ul.header__menu
        li
          a(href="#about").header__menu-link О нас
        li
          a(href="#source").header__menu-link Материалы
        li
          a(href="#calculate").header__menu-link Расчет монтажа
        li
          a(href="#works").header__menu-link Наши работы
        li
          a(href="#credit").header__menu-link Кредит
        li
          a(href="#contact").header__menu-link Контакты

      .header__contact
        .contact-phone +7 (499) 490-89-86
        a(href="#callback").contact-callback Заказать обратный звонок

      .header__phone
        a(href="tel: +7 (499) 490-89-86")
          i.icon.icon-phone
      
      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner
        
// HEADER :: END

// Mobile nav
.mobile-navi
  .mobile-navi__wrapper
    ul.mobile-navi__menu
      li
        a(href="#about") О нас
      li
        a(href="#source") Материалы
      li
        a(href="#calculate") Расчет монтажа
      li
        a(href="#works") Наши работы
      li
        a(href="#credit") Кредит
      li
        a(href="#contact") Контакты

  .mobile-navi__phone
    p Ежедневно с 9:00 до 21:00
    strong +7 (499) 490-89-86
