// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="#").header__logo
        i.icon.icon-logo
      ul.header__menu
        - var list = ["О нас", "Материалы", "Расчет монтажа", "Наши работы" , "Кредит" , "Контакты"]
          each item in list
            li
              a.header__menu-link(href="#")=item

      .header__contact
        .contact-phone +7 (499) 490-89-86
        a(href="#callback").contact-callback Заказать обратный звонок
      
      //.header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner
        
// HEADER :: END
