// MATERIALS VARIANT
#source.materials
  .container
    h1.text-center.wow Варианты кровельных материалов
    .materials__carousel.swiper-container
      .swiper-wrapper
        .materials__item.text-center.wow(data-animation-delay=".1s")
          .materials__item__info
            .materials__item-icon
              i.icon.icon-materials-1
            p Под дерево
            .materials__item__description
              p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
              a(href="#").btn-primary УЗНАТЬ БОЛЬШЕ

        .materials__item.text-center.wow(data-animation-delay=".2s")
          .materials__item__info
            .materials__item-icon
              i.icon.icon-materials-2
            p Под камень
            .materials__item__description
              p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
              a(href="#").btn-primary УЗНАТЬ БОЛЬШЕ

        .materials__item.text-center.wow(data-animation-delay=".3s")
          .materials__item__info
            .materials__item-icon
              i.icon.icon-materials-3
            p Под курпич
            .materials__item__description
              p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
              a(href="#").btn-primary УЗНАТЬ БОЛЬШЕ

        .materials__item.text-center.wow(data-animation-delay=".4s")
          .materials__item__info
            .materials__item-icon
              i.icon.icon-materials-4
            p Под штукатурку
            .materials__item__description
              p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
              a(href="#").btn-primary УЗНАТЬ БОЛЬШЕ

        .materials__item.text-center.wow(data-animation-delay=".5s")
          .materials__item__info
            .materials__item-icon
              i.icon.icon-materials-2
            p Индивидуальный <br> дизайн
            .materials__item__description
              p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
              a(href="#").btn-primary УЗНАТЬ БОЛЬШЕ
      
      .swiper-button-prev
      .swiper-button-next
