// MATERIALS VARIANT
#source.materials
  .container
    h1.text-center.wow Варианты кровельных материалов
    .materials__carousel.swiper-container
      .swiper-wrapper
        .materials__item.text-center.wow(data-animation-delay=".1s")
          .materials__item__info
            .materials__item-icon
              //- i.icon.icon-materials-1
              img(src='img/materials-1.png' srcset='img/materials-1@2x.png 2x')
            p Под дерево
            .materials__item__description
              p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
              a(href="#detail").detail.btn-primary УЗНАТЬ БОЛЬШЕ

        .materials__item.text-center.wow(data-animation-delay=".2s")
          .materials__item__info
            .materials__item-icon
              img(src='img/materials-2.png' srcset='img/materials-2@2x.png 2x')
            p Под камень
            .materials__item__description
              p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
              a(href="#detail").detail.btn-primary УЗНАТЬ БОЛЬШЕ

        .materials__item.text-center.wow(data-animation-delay=".3s")
          .materials__item__info
            .materials__item-icon
              img(src='img/materials-3.png' srcset='img/materials-3@2x.png 2x')
            p Под курпич
            .materials__item__description
              p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
              a(href="#detail").detail.btn-primary УЗНАТЬ БОЛЬШЕ

        .materials__item.text-center.wow(data-animation-delay=".4s")
          .materials__item__info
            .materials__item-icon
              img(src='img/materials-4.png' srcset='img/materials-4@2x.png 2x')
            p Под штукатурку
            .materials__item__description
              p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
              a(href="#detail").detail.btn-primary УЗНАТЬ БОЛЬШЕ

        .materials__item.text-center.wow(data-animation-delay=".5s")
          .materials__item__info
            .materials__item-icon
              img(src='img/materials-5.png' srcset='img/materials-5@2x.png 2x')
            p Индивидуальный <br> дизайн
            .materials__item__description
              p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
              a(href="#detail").detail.btn-primary УЗНАТЬ БОЛЬШЕ
      
      .swiper-button-prev
      .swiper-button-next

    // Accordion with materials on mobile
    .materials__accordion
      .materials__item.text-center
        .materials__item__info
          .materials__item-icon
            i.icon.icon-materials-1
          p Под дерево
          .materials__arrow
            i.icon.icon-arrow-down
          .materials__item__description
            p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
            a(href="#detail").detail.btn-primary УЗНАТЬ БОЛЬШЕ

      .materials__item.text-center
        .materials__item__info
          .materials__item-icon
            i.icon.icon-materials-2
          p Под камень
          .materials__arrow
            i.icon.icon-arrow-down
          .materials__item__description
            p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
            a(href="#detail").detail.btn-primary УЗНАТЬ БОЛЬШЕ

      .materials__item.text-center
        .materials__item__info
          .materials__item-icon
            i.icon.icon-materials-3
          p Под кирпич
          .materials__arrow
            i.icon.icon-arrow-down
          .materials__item__description
            p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
            a(href="#detail").detail.btn-primary УЗНАТЬ БОЛЬШЕ

      .materials__item.text-center
        .materials__item__info
          .materials__item-icon
            i.icon.icon-materials-4
          p Под кирпич
          .materials__arrow
            i.icon.icon-arrow-down
          .materials__item__description
            p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
            a(href="#detail").detail.btn-primary УЗНАТЬ БОЛЬШЕ

      .materials__item.text-center
        .materials__item__info
          .materials__item-icon
            i.icon.icon-materials-1
          p Индивидуальный дизайн
          .materials__arrow
            i.icon.icon-arrow-down
          .materials__item__description
            p Лучшее решение для дачных <br> домов, использующихся <br> в летнее время года. <br> Быстрый монтаж, дешевое <br> обслуживание.
            a(href="#detail").detail.btn-primary УЗНАТЬ БОЛЬШЕ
