// Popup

// Callback
#callback.white-popup-block.mfp-hide
  .callback__cta
    h1.callback__title.text-center Заказать обратный <br> звонок
    form(action="#").callback__form
      .banner__form__row
        .banner__form__el
          input(type="text" , placeholder="Ваше имя").w-300
        .banner__form__el
          input(type="text" , placeholder="Номер телефона").w-300
      .banner__form__el.form__el-size
        input(type="checkbox" , value="Согласен на обработку данных" , id="checkbox-2" , checked)
        span
        label(for="checkbox-2") Я согласен на <a href="#privacy" class="personal__data">обработку моих персональных данных</a>
      .banner__form__el.margin-top-50.text-center
        input(type="submit" , value="ЗАКАЗАТЬ ЗВОНОК").w-300

// Privacy
#privacy.white-popup-block.mfp-hide
  .privacy__cta
    h1.privacy__title.text-center Политика обработки <br> персональных данных

    h3.privacy__subtitle Назначение и область определения
    p Настоящий документ описывает политику обработки, накопления и хранения документов, содержащих сведения, отнесенные к персональным данным.
    p Цель разработки настоящей Политики – обеспечение защиты прав и свобод человека и гражданина, при обработке его персональных данных, в том числе права на неприкосновенность частной жизни, личную и семейную тайну, а также установление ответственности должностных лиц, имеющих доступ к персональным данным, за невыполнение требований норм, регулирующих обработку и защиту персональных данных.

    h3.privacy__subtitle Сокращения, основные понятия и термины
    p Персональные данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных);
    p Оператор - государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
    p Обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
