// PROJECT
.project
  .container

    .project__cta.text-center.wow
      h3.project__cta__title Замер + дизайн-проект + смета
      p.project__cta__subtitle Всего 2500 рублей <span>только до 28 февраля</span>
      p Отправьте заявку прямо сейчас и получите <br> консультацию специалиста <strong>бесплатно!</strong>
      
      form(action="#").project__cta__form
        .banner__form__el
          input(type="tel" , name="phone" , placeholder="Номер телефона")
        .banner__form__el
          input(type="submit" , value="ОТПРАВИТЬ")
