// REVIEWS
.reviews
  .container
    h1.text-center Отзывы довольных клиентов

    .reviews__carousel
      div.reviews__carousel-item
        a(href="#")
          img(src="img/review-1.jpg", alt="review")

      div.reviews__carousel-item
        a(href="#")
          img(src="img/review-2.jpg", alt="review")

      div.reviews__carousel-item
        a(href="#")
          img(src="img/review-3.jpg", alt="review")

      div.reviews__carousel-item
        a(href="#")
          img(src="img/review-1.jpg", alt="review")