// STEPS WORK
.steps
  .container
    h1.text-center.wow Схема работы
    .wrapper.justify-between.self-start

      .why__item.text-center.wow(data-animation-delay=".1s")
        .why__item-icon
          i.icon.icon-step-1
        p Оставляете заявку, <br> согласовываем дату <br> и время замера

      .why__item.text-center.wow(data-animation-delay=".2s")
        .why__item-icon
          i.icon.icon-step-2
        p Проведение замера <br> с демонстрацией <br> материалов и бесплатным <br> дизайн-проектом

      .why__item.text-center.wow(data-animation-delay=".3s")
        .why__item-icon
          i.icon.icon-step-3
        p Заключение договора <br> и оплата материалов

      .why__item.text-center.wow(data-animation-delay=".4s")
        .why__item-icon
          i.icon.icon-step-4
        p Осуществление монтажных <br> работ (доставка материалов, <br> установка лесов, монтажные <br> работы)

      .why__item.text-center.wow(data-animation-delay=".5s")
        .why__item-icon
          i.icon.icon-step-5
        p Приемка и оплата <br> монтажных работ, и Вы <br> наслаждаетесь новой <br> кровлей!
