// STEPS WORK
.steps
  .container
    h1.text-center.wow Схема работы
    //.wrapper.justify-between.self-start
    .steps__carousel.swiper-container
      .swiper-wrapper
        .why__item.text-center.wow(data-animation-delay=".1s")
          .why__item-icon
            +icon('ico-step-1')
          p Оставляете заявку, <br> согласовываем дату <br> и время замера
          span.steps__number 01

        .why__item.text-center.wow(data-animation-delay=".2s")
          .why__item-icon
            +icon('ico-step-2')
          p Проведение замера <br> с демонстрацией <br> материалов и бесплатным <br> дизайн-проектом
          span.steps__number 02

        .why__item.text-center.wow(data-animation-delay=".3s")
          .why__item-icon
            +icon('ico-step-3')
          p Заключение договора <br> и оплата материалов
          span.steps__number 03

        .why__item.text-center.wow(data-animation-delay=".4s")
          .why__item-icon
            +icon('ico-step-4')
          p Осуществление монтажных <br> работ (доставка материалов, <br> установка лесов, монтажные <br> работы)
          span.steps__number 04

        .why__item.text-center.wow(data-animation-delay=".5s")
          .why__item-icon
            +icon('ico-step-5')
          p Приемка и оплата <br> монтажных работ, и Вы <br> наслаждаетесь новой <br> кровлей!
          span.steps__number 05

      .swiper-button-prev
      .swiper-button-next
