// WHY US
.why
  .container
    h1.text-center Почему мы
    .wrapper.justify-between.self-start

      .why__item.text-center
        .why__item-icon
          i.icon.icon-why-icon-1
        p Работа по договору, <br> Гарантия 2 года

      .why__item.text-center
        .why__item-icon
          i.icon.icon-why-icon-2
        p Рассрочка <br> на 12 месяцев <br> без предоплаты

      .why__item.text-center
        .why__item-icon
          i.icon.icon-why-icon-3
        p Все работы по ГОСТам <br> и СНИПам (фотоотчет)

      .why__item.text-center
        .why__item-icon
          i.icon.icon-why-icon-4
        p Разработка <br> дизайн-проекта <br> в процессе замера

      .why__item.text-center
        .why__item-icon
          i.icon.icon-why-icon-5
        p Автономное проживание <br> на объекте, русские <br> строители