// WORKS
.works
  .container
    h1.text-center.wow Примеры наших работ

    .works__example
      .works__example-slide.wow(data-animation-delay=".1s")
        .slide__compare
          img(src="img/work-after-1.jpg", alt="example-1")
          img(src="img/work-before-1.jpg" , alt="example-1")

      .works__example-slide.wow(data-animation-delay=".2s")
        .slide__compare
          img(src="img/work-after-2.jpg", alt="example-2")
          img(src="img/work-before-2.jpg" , alt="example-2")

      .works__example-slide.wow(data-animation-delay=".3s")
        .slide__compare
          img(src="img/work-after-3.jpg", alt="example-3")
          img(src="img/work-before-3.jpg" , alt="example-3")

      .works__example-slide.wow(data-animation-delay=".4s")
        .slide__compare
          img(src="img/work-after-4.jpg", alt="example-4")
          img(src="img/work-before-4.jpg" , alt="example-4")

      .works__example-slide.wow(data-animation-delay=".5s")
        .slide__compare
          img(src="img/work-after-1.jpg", alt="example-1")
          img(src="img/work-before-1.jpg" , alt="example-1")
