// WORKS
.works
  .container
    h1.text-center Примеры наших работ

    .works__example
      div.works__example-slide
        .slide__compare
          img(src="img/work-after-1.jpg", alt="example-1")
          img(src="img/work-before-1.jpg" , alt="example-1")

      div.works__example-slide
        .slide__compare
          img(src="img/work-after-2.jpg", alt="example-2")
          img(src="img/work-before-2.jpg" , alt="example-2")

      div.works__example-slide
        .slide__compare
          img(src="img/work-after-3.jpg", alt="example-3")
          img(src="img/work-before-3.jpg" , alt="example-3")

      div.works__example-slide
        .slide__compare
          img(src="img/work-after-4.jpg", alt="example-4")
          img(src="img/work-before-4.jpg" , alt="example-4")

      div.works__example-slide
        .slide__compare
          img(src="img/work-after-1.jpg", alt="example-1")
          img(src="img/work-before-1.jpg" , alt="example-1")