// WORKS
#works.works
  .container
    h1.text-center.wow Примеры наших работ

    .works__example.swiper-container
      .swiper-wrapper
        .works__example-slide
          .slide__compare
            img(src="img/work-after-1.jpg", alt="example-1")
            img(src="img/work-before-1.jpg" , alt="example-1")

        .works__example-slide
          .slide__compare
            img(src="img/work-after-2.jpg", alt="example-2")
            img(src="img/work-before-2.jpg" , alt="example-2")

        .works__example-slide
          .slide__compare
            img(src="img/work-after-3.jpg", alt="example-3")
            img(src="img/work-before-3.jpg" , alt="example-3")

        .works__example-slide
          .slide__compare
            img(src="img/work-after-4.jpg", alt="example-4")
            img(src="img/work-before-4.jpg" , alt="example-4")

        .works__example-slide
          .slide__compare
            img(src="img/work-after-1.jpg", alt="example-1")
            img(src="img/work-before-1.jpg" , alt="example-1")
      
      .swiper-button-prev
      .swiper-button-next
