// WORKS
.works
  .container
    h1.text-center Примеры наших работ

    .works__example
      div
        a(href="#")
          img(src="img/work-1.jpg", alt="example-1")

      div
        a(href="#")
          img(src="img/work-2.jpg", alt="example-2")

      div
        a(href="#")
          img(src="img/work-3.jpg", alt="example-3")

      div
        a(href="#")
          img(src="img/work-4.jpg", alt="example-4")