---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  
  // dummy contents & instructions
  // REMOVE COMPLEATLY, it have nothing to do with project code - examples only
  // and never again use inline styling :)
  
  include components/_banner

  include components/_why

  include components/_materials

  include components/_calculate

  include components/_steps

  include components/_works

  include components/_reviews

  include components/_project

  include components/_credit

  include components/_map

  include components/_contact