include _mixins
doctype html
html(lang="ru")
  head
    include _head

  body(class=bodyClass)
    // place where pjax bindings happen's
    block header
      include ../components/_header
  
    // what should be changed with every pjax
    .page(class=outClass)
      block content

      block footer
        include ../components/_footer
      block modals
        include ../components/_modals
        
    block scripts
      include _scripts
