/* Credit
.credit
  padding: 45px 0 55px 0
  background: $grayColor

  h1
    margin-bottom: 10px

  &__subtitle
    margin-top: 0
    margin-bottom: 80px
    font-size: 20px
    line-height: 30px

  .why__item
    max-width: 200px

    &-icon
      margin-bottom: 30px

/* Bank
.bank
  padding-top: 20px
  padding-bottom: 65px
  background: $grayColor

  &__title
    margin: 0 0 35px 0
    font-size: 26px
    line-height: 38px
    font-weight: 600

  &__item
    width: 100%
    max-width: 170px
    min-height: 96px
    margin-bottom: 40px
    background: #fff
    display: flex;
    align-items: center;
    justify-content: center;

/* Responsive for _credit component
+r(1200)
  .bank__item
    max-width: 160px

+r($desktop)

+r($tablet)
  .credit
    padding-top: 25px

    &__subtitle
      font-size: 18px

    .wrapper
      display: block

    .why__item
      width: calc(100%/3.1)
      max-width: none
      display: inline-block
      vertical-align: top

  .bank
    .wrapper
      display: block
      column-count: 3
    &__item
      max-width: 215px

+r($mobile)
