/* Credit
.credit
  padding: 45px 0 55px 0
  background: $grayColor
  h1
    margin-bottom: 10px

  &__subtitle
    margin-top: 0
    margin-bottom: 80px
    font-size: 20px
    line-height: 30px

  .why__item
    &-icon
      margin-bottom: 30px

+r($desktop)
  .credit
    .swiper-wrapper
      flex-wrap: wrap
    .why__item
      flex: 0 1 33.3%
      max-width: 100%

+r($tablet)
  .credit
    padding-top: 25px
    .swiper-wrapper
      flex-wrap: nowrap
    .why__item
      flex: 0 0 auto

    &__subtitle
      font-size: 18px

    .wrapper
      display: block

    .why__item
      // width: calc(100%/3.1) !important
      max-width: none
      display: inline-block
      vertical-align: top


+r($mobile)
  .credit
    .why__item
      // display: block
      // width: 100% !important


/* Bank
.bank
  padding-top: 20px
  padding-bottom: 65px
  background: $grayColor
  .wrapper
    margin-left: -12px
    margin-right: -12px

  &__title
    margin: 0 0 35px 0
    font-size: 26px
    line-height: 38px
    font-weight: 600

  &__item
    position: relative
    width: 100%
    flex: 0 1 16.666%
    padding-right: 12px
    padding-left: 12px
    // max-width: 170px
    min-height: 96px
    margin-bottom: 40px
    display: flex
    align-items: center
    justify-content: center
    &::after
      display: inline-block
      content: ' '
      position: absolute
      top: 0
      bottom: 0
      left: 12px
      right: 12px
      background: #fff
      z-index: 1
    .icon
      position: relative
      z-index: 2

+r($desktop)
  .bank
    .wrapper
      flex-wrap: wrap
    &__item
      flex: 0 1 33.3%

+r($tablet)
  .bank__item
    // max-width: 210px
    margin-bottom: 20px

+r($mobile)
  .bank
    &__item
      flex: 0 1 50%
      i
        transform: scale3d(.8, .8, .8)
