// FOOTER
.footer
  padding: 20px 0
  font-size: 14px
  background: $graySecondaryColor

  .header__contact
    margin-right: 110px

    span
      font-size: 13px
      color: #a2a3a6

    .contact-phone
      margin: 7px 0