/* Materials variant
.materials
  padding: 50px 0 75px 0
  &__carousel
    overflow: visible
  &__item
    display: flex
    flex-direction: column
    // width: 100%
    // max-width: 240px
    // min-width: 240px
    flex: 0 0 240px
    position: relative
    cursor: pointer

    &__info
      flex: 1 1 auto
      display: flex
      flex-direction: column
      padding-top: 20px
      background: rgba(255, 255, 255, .96)
      border: 6px solid transparent

    &-icon
      z-index: 1
      & + p
        min-height: 36px
        font-weight: 600

    &__description
      // align btn to slide bottom
      margin-top: auto
      font-size: 14px
      line-height: 24px
      opacity: 0
      height: 0
      transition: opacity .25s $ease

    &:hover
      z-index: 2
      .materials__item__info
        width: 114%
        top: 0
        left: -7%
        border-color: $grayColor
        position: absolute

      .materials__item__description
        opacity: 1
        height: auto

.swiper-button-prev
  left: -30px
  background-image: url('../img/icon-arrow-left.png')

.swiper-button-next
  right: -30px
  background-image: url('../img/icon-arrow-right.png')

+r($min-wide)
  .materials
    &__item__info
      border-width: 0
    &__item:hover
      .materials__item__info
        width: 100%
        left: auto
        border-color: transparent
        position: relative

    &__item__description
      opacity: 1
      height: auto

+r($desktop)

+r($tablet)

+r($mobile)
  .materials__carousel
    display: none
