/* Reviews
.reviews
  padding: 45px 0 100px 0
  background: $grayLightColor

  &__carousel-item
    max-width: 376px;
    margin-right: 24px
    background: $colorSecondaryBlue
    img
      transition: opacity .25s $ease
      opacity: .65

    &:hover
      img
        opacity: .4