/* Reviews
.reviews
  padding: 45px 0 100px 0
  background: $grayLightColor

  &__carousel-item
    max-width: 376px
    margin-right: 24px
    position: relative
    background: $colorSecondaryBlue
    .icon
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      z-index: 1
      transition: .25s $ease
      &-play-icon-active
        transform: translate(-50%,-50%) scale(0)
        margin-left: -3px

    img
      max-width: 100%
      transition: opacity .25s $ease
      opacity: .65

    &:hover
      img
        opacity: .4
      .icon-play-icon
        opacity: 0
      .icon-play-icon-active
        transform: translate(-50%,-50%) scale(1)

+r($mobile)
  .reviews__carousel
    padding: 0 50px
