/* Why us
.why
  padding: 75px 0
  background: $grayColor

h1
  margin: 30px 0
  font-size: 40px
  line-height: 62px
  font-weight: 600

.text-center
  text-align: center

.why__item
  max-width: 240px
  margin-top: 20px
  font-size: 15px
  line-height: 27px

  &:nth-child(3) &-icon
    line-height: 125px

  &-icon
    width: 80px
    height: 80px
    margin: 0 auto
    line-height: 135px
    background: $colorLightOrange
    border-radius: 50%
    position: relative
    z-index: 2