/* Works example
.works
  padding-bottom: 70px

  &__example
    padding-top: 10px
    margin-bottom: 30px

.slick-arrow
  position: absolute
  top: 50%
  margin-top: -23px
  background: transparent
  z-index: 2

  &.slick-prev
    left: -92px

  &.slick-next
    right: -65px

+r($tablet)
  .works

    &__example
      .twentytwenty-handle
        display: none

  .slick-arrow.slick-prev
    left: 0

  .slick-arrow.slick-next
    right: 0

  .slide__compare
    img
      &:nth-child(2)
        display: none