/* Works example
.works
  padding-bottom: 70px

  &__example
    padding-top: 10px
    margin-bottom: 30px

.slick-arrow
  position: absolute
  top: 50%
  margin-top: -23px
  background: transparent

  &.slick-prev
    left: -92px

  &.slick-next
    right: -65px