.ico-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-credit-1 {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.ico-credit-2 {
  width: 0.88em;
  height: 1em;
  fill: #EAAC39;
}
.ico-credit-3 {
  width: 1.39em;
  height: 1em;
  fill: #EAAC39;
}
.ico-credit-4 {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.ico-credit-5 {
  width: 1.35em;
  height: 1em;
  fill: initial;
}
.ico-credit-6 {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-location {
  width: 0.68em;
  height: 1em;
  fill: initial;
}
.ico-mail {
  width: 1.44em;
  height: 1em;
  fill: #EAAC39;
}
.ico-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-pin-1 {
  width: 0.46em;
  height: 1em;
  fill: #2F57A2;
}
.ico-play-icon {
  width: 0.87em;
  height: 1em;
  fill: none;
}
.ico-step-1 {
  width: 0.9em;
  height: 1em;
  fill: #EAAC39;
}
.ico-step-2 {
  width: 1em;
  height: 1em;
  fill: #EAAC39;
}
.ico-step-3 {
  width: 1em;
  height: 1em;
  fill: #EAAC39;
}
.ico-step-4 {
  width: 0.98em;
  height: 1em;
  fill: #EAAC39;
}
.ico-step-5 {
  width: 1em;
  height: 1em;
  fill: #EAAC39;
}
.ico-time {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-why-1 {
  width: 1em;
  height: 1em;
  fill: #EAAC39;
}
.ico-why-2 {
  width: 1em;
  height: 1em;
  fill: #EAAC39;
}
.ico-why-3 {
  width: 1.16em;
  height: 1em;
  fill: #EAAC39;
}
.ico-why-4 {
  width: 1em;
  height: 1em;
  fill: #EAAC39;
}
.ico-why-5 {
  width: 1.38em;
  height: 1em;
  fill: none;
}
