.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-location {
  width: 0.68em;
  height: 1em;
  fill: initial;
}
.ico-mail {
  width: 1.44em;
  height: 1em;
  fill: #EAAC39;
}
.ico-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-pin-1 {
  width: 0.46em;
  height: 1em;
  fill: #2F57A2;
}
.ico-time {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-why-1 {
  width: 1em;
  height: 1em;
  fill: #EAAC39;
}
.ico-why-2 {
  width: 1em;
  height: 1em;
  fill: #EAAC39;
}
.ico-why-3 {
  width: 1.16em;
  height: 1em;
  fill: #EAAC39;
}
.ico-why-4 {
  width: 1em;
  height: 1em;
  fill: #EAAC39;
}
.ico-why-5 {
  width: 1.38em;
  height: 1em;
  fill: none;
}
