$sprite: (
	arrow-down: (
		offset-x: -42px,
		offset-y: -204px,
		width: 18px,
		height: 10px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	arrow-left: (
		offset-x: -262px,
		offset-y: -139px,
		width: 25px,
		height: 46px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	arrow-right: (
		offset-x: -297px,
		offset-y: -139px,
		width: 24px,
		height: 46px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	bank-1: (
		offset-x: 0px,
		offset-y: -147px,
		width: 97px,
		height: 47px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	bank-2: (
		offset-x: 0px,
		offset-y: -50px,
		width: 122px,
		height: 37px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	bank-3: (
		offset-x: -107px,
		offset-y: -147px,
		width: 106px,
		height: 40px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	bank-4: (
		offset-x: -124px,
		offset-y: -97px,
		width: 121px,
		height: 37px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	bank-5: (
		offset-x: 0px,
		offset-y: -97px,
		width: 114px,
		height: 40px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	bank-6: (
		offset-x: -132px,
		offset-y: -50px,
		width: 117px,
		height: 36px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	banner-list-icon: (
		offset-x: 0px,
		offset-y: -204px,
		width: 32px,
		height: 32px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	logo: (
		offset-x: 0px,
		offset-y: 0px,
		width: 252px,
		height: 40px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	phone: (
		offset-x: -223px,
		offset-y: -147px,
		width: 21px,
		height: 21px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	play-icon-active: (
		offset-x: -262px,
		offset-y: -80px,
		width: 42px,
		height: 49px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
	play-icon: (
		offset-x: -262px,
		offset-y: 0px,
		width: 60px,
		height: 70px,
		total-width: 322px,
		total-height: 236px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-arrow-down {
		@include sprite(arrow-down)
	}
	.icon-arrow-left {
		@include sprite(arrow-left)
	}
	.icon-arrow-right {
		@include sprite(arrow-right)
	}
	.icon-bank-1 {
		@include sprite(bank-1)
	}
	.icon-bank-2 {
		@include sprite(bank-2)
	}
	.icon-bank-3 {
		@include sprite(bank-3)
	}
	.icon-bank-4 {
		@include sprite(bank-4)
	}
	.icon-bank-5 {
		@include sprite(bank-5)
	}
	.icon-bank-6 {
		@include sprite(bank-6)
	}
	.icon-banner-list-icon {
		@include sprite(banner-list-icon)
	}
	.icon-logo {
		@include sprite(logo)
	}
	.icon-phone {
		@include sprite(phone)
	}
	.icon-play-icon-active {
		@include sprite(play-icon-active)
	}
	.icon-play-icon {
		@include sprite(play-icon)
	}
